{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
    'field__label field__label--inline'
  ]
%}

<div{{attributes}}>
	<div{{title_attributes.addClass(title_classes)}}>{{ label }}</div>
	<div{{attributes.addClass('event__field__items')}}>
		{% for item in items %}
			{% if loop.last %}
				{% set separator = '' %}
			{% else %}
				{% set separator = ' / ' %}
			{% endif %}

			<span{{item.attributes.addClass('event__field__item')}}>

				{{ item.content }}
				<span class='separator'>
					{{ separator }}
				</span>
			</span>

		{% endfor %}
	</div>
</div>
